<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<table cellspacing="3" bgcolor="#000000">
    <thead>
    <tr bgcolor="#ffffff">
        <th>Id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Series</th>
    </tr>
    </thead>
    <tbody>
    <tr bgcolor="#ffffff" th:each="car, iterStat : ${partCars}">
        <td th:text="${iterStat.index}+1"></td>
        <td th:text="${car.getBrand()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getSeries()}"></td>
    </tr>
    </tbody>
</table>
</html>